.container {
  /* background: #f5f5f5; */
  border: 1px solid grey;
  padding: 12px;
  border-radius: 4px;
}

.title {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 12px;
}

.desc {
  font-size: 14px;
  margin-bottom: 12px;
}
